h1.about-title {
    text-align: center;
    font-family: "Courier New";
    font-weight: bold;
    font-size: 30pt;
    color: #3295c2;
    margin-top: 5%;
}
p.about-text {
    text-align: justify;
    font-family: "Arial";
    font-size: 12pt;
    margin-left: 15%;
    margin-right: 15%;
}